<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE questestinterop SYSTEM "../inc/validate.dtd">
<questestinterop>
  <section ident="section_{{ id }}" title="{{ title }}">
{% for question_file in question_files %}    <itemref linkrefid="{{ question_file }}"/>
{% endfor %}
  </section>
</questestinterop>
